<div class="form-group"> 
    <label >From Date:</label>
    <input type="date" id="fromdate" name="fromdate"  class="form-control"  required >
</div>

<div class="form-group"> 
    <label >To Date:</label>
    <input type="date" id="todate" name="todate" class="form-control" required >
</div>

<h1>Choose category</h1>

  <input type="checkbox" id="category1" name="category" value="entertainment" checked>
  <label > Entertainment</label><br>
  <input type="checkbox" id="category2" name="category" value="general" >
  <label > General</label><br>
  <input type="checkbox" id="category3" name="category" value="health" >
  <label > Health</label><br>
  <input type="checkbox" id="category4" name="category" value="science" >
  <label > Science</label><br>
  <input type="checkbox" id="category5" name="category" value="sports" >
  <label > Sports</label><br>
  <input type="checkbox" id="category6" name="category" value="technology">
  <label > Technology</label><br>
  <input type="checkbox" id="category7" name="category" value="business" >
  <label > Business</label><br>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
    
    