<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Option</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Your Data have Been retrieved...!</h1>
        <p class="lead">Choose the below opition according to your preference</p>
        <hr class="my-4">
        
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/api/categories" role="button">View Data</a>
          <a class="btn btn-primary btn-lg" href="/api/list-news" role="button">View Filter Data</a>
        </p>
      </div>
</body>
</html>